.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    place-items: center;

    color: var(--font-color);
    margin: 60px 5px 20px 5px;
}

.container {
    margin-bottom: 20px;
    padding: 2px;
}

@media screen and (min-width: 851px) and (max-width: 1300px) {
    .news-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 456px) and (max-width: 850px) {
    .news-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 455px) {
    .news-container {
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }
}