.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form-container {
    background-color: #fff;
    text-align: center;
    height: 70vh;
    width: 600px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(180, 50, 190, 0.8);

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-inputs {
    margin: 10px;
    padding: 10px;
    transform: translateY(-50%);
}
.advice-image {
    font-size: 0.9em;
    font-weight: 500;
    color: #888;
}
.form-inputs input {
    width: 100%;
    height: 30px;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.button {
    margin: 0 15px;
    border-radius: 2px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    box-shadow: var(--shadow);
    color: var(--font-color);
    transition: 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-save {
    background-color: rgba(20, 200, 50, 0.9);
    border: 1px solid #000;
}
.button-cancel {
    background-color: rgba(250, 20, 20, 0.7);
}
.button:hover {
    width: 75px;
    height: 29px;
}

@media screen and (max-width: 600px) {
    .form-container {
        width: 100%;
    }
}